@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');

:root {
    --main-dark-color: #414141;
    --header-color: #6c6c74;
    --light-gray: #9c9ca4;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.mainBox{
    /* border: 1px solid gray; */
    /* width: 80%; */
    /* display: flex; */
    /* flex-direction: row; */
    /* height: 100vh; */
}
.colLeft {
    border: 1px solid gray;
    /*width: 20%;*/
    flex-grow: 1;
    text-align: center;
    background-color: var(--main-dark-color);
    color: white;
    padding: 35px;
}

.colLeft > div:first-of-type {
    text-align: justify;
}

.colLeft > div {
    border-bottom: 1px solid gray;
    text-align: left;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.colLeft a {
    color: white;
}

.colLeft > div:last-of-type > .description {
    display: flex;
}

.colLeft .description > div {
    display: inline;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.colLeft > div:last-of-type{
    border: 0;
}

.colLeft .fa-solid {
    font-size: 5px;
    margin-right: 5px;
}

.colLeft h1 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

#slimTitle {
    font-weight: normal;
}


.colRight{
    border: 1px solid gray;
    /*width: 80%;*/
    flex-grow: 3;
}

/* user photo */
/*
.userPhoto{
    width: 100%;

    border-radius: 50%;
}
*/
.img-thumbnail{
    border: 0;
    /*background-color: var(--main-dark-color);*/
    background-color: transparent;
    max-width: 80%;
}

/* RIGHT COL */
.colRight {
    padding-left: 15px;
    padding-right: 15px;
}

/* HEADER */
.header {
    /*display: flex;
    justify-content: space-between;*/
    border-bottom: 1px solid gray;
    margin-top: 45px;

}

.firstname, .lastname {
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: var(--main-dark-color);
    margin: 0;
    padding: 0;
}
.firstname {
    letter-spacing: 11.5px;
}
.lastname {
    position: relative;
    top: -25px;
}
.profession {
    font-size: 18px;
    text-transform: uppercase;
    color: var(--main-dark-color);
    position: relative;
    top: -32px;
}

/* HEADER LINKS WITH ICONS */
.hdrColRight {
    position: relative;
    top: 15px;
}

.hdrColRight a {
    color: var(--main-dark-color);
    text-decoration: none;
    font-size: 16px;
    margin-bottom: -10px;
    display: block;
}

.map::before, .phone::before, .email::before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    margin-right: 5px;
    width: 20px;
    display: inline-flex;
    justify-content: center;
}
.map::before{
    content: '\f3c5';
}
.phone::before{
    content: '\f095';
}
.email::before{
    content: '\f0e0';
}

/*  header */

.titleGray {
    text-transform: uppercase;
    color: var(--header-color);
}

/* PROGRESS BAR */
/*
.progress{
    width: 90%;
    margin: 20px;
    float: left;
}*/
.progress-title{
    text-transform: uppercase;
    color: var(--header-color);
    font-weight: bold;
    /*font-size: 22px;*/
}
/*
.progress-bar{
    background-color: var(--light-gray);
    width: 100%;
    height: 10px;
}
*/
/*
.progress-indicator{
    background-color: var(--color);
    height: 10px;
}*/

/* PROGRESS BAR COLUMNS - GRID */

.container-progress {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "progressLeftCol progressRightCol";
  }
  
  .progressLeftCol { grid-area: progressLeftCol; }
  .progressRightCol { grid-area: progressRightCol; }
  